@{
    ViewData["Title"] = "Listagem de Pacotes";
}
@model List<at02.Models.Pacote>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Saida</th>
                <th>Retorno</th>
                <th>Autor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (at02.Models.Pacote item in Model)
        {
            <tr>
                <td><a href="/pacote/atualiza/@item.id" >@item.nome</a></td>
                <td>@item.origem</td>
                <td>@item.destino</td>
                <td>@(item.saida.ToString("dd/MM/yyyy"))</td>
                <td>@(item.retorno.ToString("dd/MM/yyyy"))</td>
                <td>@item.autor</td>
                <td><a href="/pacote/apaga/@item.id">Apagar</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>